<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body class="container">
  <div>
    <div class="odd">
      <h2>Odd or Even Checker</h2>
      <label for="num">Enter your number = </label>&nbsp;
      <input type="number" [(ngModel)]="num" placeholder="Enter a number" required> <br>
      <button (click)="checkOddEven()" class="btn btn-success">Check</button><br>
      <h3>Ans :</h3><label for="result" class="lb2">
        <p>{{ result }}</p>
      </label>
      <br>

      <button (click)="reset()" class="btn btn-danger" id="btn2">Reset</button><br>

    </div>
  </div>
</body>

</html>